@import "Neo-Variables-Essentials.css";

:root {
  --Neo-Elements: light-dark(black,white);
  --Neo-Background: light-dark(white,black);
  --Neo-Border-Radius: 4px;
}


body{
  --Neo-Color-Default: color-mix(in srgb, color-mix(in srgb, var(--Neo-Accent) 5%, var(--Neo-Background)), transparent);
  --Neo-Color-Hover: color-mix(in srgb, color-mix(in srgb, var(--Neo-Accent) 20%, var(--Neo-Background)), transparent);
  --Neo-Color-Selected: color-mix(in srgb, color-mix(in srgb, var(--Neo-Accent) 10%, var(--Neo-Background)) 80%, transparent 20%);
  
  /* Glow Colors */
  --Neo-Glow-1: color-mix(in srgb, var(--zen-primary-color) 90%, white);
  --Neo-Glow-2: color-mix(in srgb, var(--zen-primary-color) 80%, white);
  --Neo-Glow-3: color-mix(in srgb, var(--zen-primary-color) 70%, white);
    
  --Neo-Accent: color-mix(in srgb, var(--zen-primary-color) 80%, white);
  
  /* Effects */
  
  --Neo-Glow-Filter-1: drop-shadow(0px 0px 4px var(--zen-primary-color)) brightness(1);
  --Neo-Glow-Filter-2: drop-shadow(0px 0px 6px var(--zen-primary-color)) brightness(1);
  --Neo-Glow-Filter-3: drop-shadow(0px 0px 8px var(--zen-primary-color)) brightness(1);
  
  /* Blur */

}
