@import "CustomizationToolbar.css";
@import "WindowButtons/WindowButtons.css";
@import "FindBar.css";
@import "Sidebar-Panel.css";


/* Required for blur rendering */
browser {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* Remove new tab background color*/
.browserStack browser {
    background-color: transparent !important;
}

@media not (-moz-pref("neo-style-shadow-enabled")) {
    /* Remove shadow */
    hbox.browserSidebarContainer,
    #zen-tabbox-wrapper {
        box-shadow: none !important;
    }
}