@media not (-moz-pref("neo-features-better-bottom-disabled")) {
    :root[zen-sidebar-expanded="true"] {
        #zen-workspaces-button {
            transition: top 0.5s ease 0.3s, bottom 0.5s ease, opacity 1.0s ease 0.3s, box-shadow 0.6s ease, border 0.6s ease, background 0.6s ease !important;
        }

        @media (-moz-pref("neo-features-better-bottom-keep-expanded")) {
            #zen-workspaces-button {
                background: color-mix(in srgb, var(--Neo-Glow-Color-3) 12%, #000000) !important;
                border: 1px solid color-mix(in srgb, var(--zen-primary-color) 70%, transparent) !important;
            }
        }

        @media not (-moz-pref("neo-features-better-bottom-keep-expanded")) {
            #zen-sidebar-bottom-buttons:hover {
                height: fit-content !important;
                max-height: 115px !important;
                transition-delay: var(--Neo-Delay) !important;
                transition: max-height 0.7s ease;

                & #zen-workspaces-button {
                    background: color-mix(in srgb, var(--Neo-Glow-Color-3) 12%, #000000) !important;
                }

                & #zen-workspaces-button::after {
                    opacity: 1.0;
                    width: 30%;

                    transition-delay: var(--Neo-Delay-Expanding-Indicator) !important;
                }
            }


            /* Hide all buttons except `#zen-workspaces-button` when NOT hovered */
            #zen-sidebar-bottom-buttons:not(:hover)>.toolbarbutton-1:not(#zen-workspaces-button),
            #zen-sidebar-bottom-buttons:not(:hover)>.toolbaritem-combined-buttons {
                opacity: 0 !important;
                pointer-events: none !important;

                transition: opacity 0.5s ease 0.2s;
            }

            /* Show all elements when hovered */
            #zen-sidebar-bottom-buttons:hover>.toolbarbutton-1,
            #zen-sidebar-bottom-buttons:hover>.toolbaritem-combined-buttons {
                opacity: 1 !important;
                pointer-events: all !important;
                transition: opacity 1.0s ease var(--Neo-Delay);
            }
        }
    }

    :root:not([zen-sidebar-expanded="true"]) {
        #zen-workspaces-button {
            transition: top 1.5s ease, bottom 1.5s ease, opacity 1.0s ease 0.3s !important;
        }

        #zen-sidebar-bottom-buttons:hover {
            height: fit-content !important;
            max-height: 160px !important;
            transition: max-height 0.3s ease var(--Neo-Delay);

            & #zen-workspaces-button {
                opacity: 0.0 !important;
                transition: top 4.5s ease var(--Neo-Delay), bottom 1.5s ease var(--Neo-Delay), opacity 1.5s ease var(--Neo-Delay) !important;
            }

            @media not (-moz-bool-pref: "neo-bottom-button-at-bottom") {
                #zen-workspaces-button {
                    top: -100% !important;
                }
            }

            @media (-moz-bool-pref: "neo-bottom-button-at-bottom") {
                #zen-workspaces-button {
                    bottom: -100% !important;
                }
            }

            & #zen-workspaces-button::after {
                opacity: 1.0;
                width: 30%;

                transition-delay: var(--Neo-Delay-Expanding-Indicator) !important;
            }
        }

        /* Hide all buttons except `#zen-workspaces-button` when NOT hovered */
        #zen-sidebar-bottom-buttons:not(:hover)>.toolbarbutton-1:not(#zen-workspaces-button),
        #zen-sidebar-bottom-buttons:not(:hover)>.toolbaritem-combined-buttons {
            opacity: 0 !important;
            pointer-events: none !important;

            transition: opacity 0.8s ease 0.5s;
        }

        /* Show all elements when hovered */
        #zen-sidebar-bottom-buttons:hover>.toolbarbutton-1,
        #zen-sidebar-bottom-buttons:hover>.toolbaritem-combined-buttons {
            opacity: 1 !important;
            pointer-events: all !important;
            transition: opacity 1.0s ease var(--Neo-Delay);
        }
    }
}