@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-hide-workspace-indicator")) {
        @media not (-moz-pref("neo-theme-workspace-indicator-disabled")) {

            zen-workspace {
                & .zen-current-workspace-indicator {}
            }

            :root {
                &[zen-sidebar-expanded="true"] zen-workspace {
                    & .zen-current-workspace-indicator {
                        justify-content: center;
                        filter: drop-shadow(0px 0px 15px var(--zen-primary-color)) brightness(1.1) !important;
                        margin-bottom: 10px !important;
                        
                        
                        & .zen-current-workspace-indicator-name {
                            display: flex !important;
                            position: relative !important;
                            text-align: center !important;
                            justify-content: center !important;
                            margin-left: auto !important;
                            margin-right: 28px !important;
                            width: 100% !important;
                            
                            opacity: 1 !important;
                            font-weight: 500 !important;
                            font-size: 14px !important;
                            
                            
                            
                            filter: drop-shadow(0px 0px 8px var(--Neo-Glow-Color-1)) brightness(1.3) !important;
                        }

                        & .zen-current-workspace-indicator-icon {
                            display: none !important;
                        }

                        & .zen-workspaces-actions {
                            display: none !important;
                        }
                        
                        & #tab-label-input {
                            text-align: center !important;
                            text-justify: center !important;
                            margin: 0px !important;
                            width: 100% !important;
                            padding-right: 28px !important;
                            
                            
                        }

                        & .zen-current-workspace-indicator-stack {
                            visibility: visible !important;
                            opacity: 1.0 !important;
                            display: flex !important;
                            position: relative !important;
                            margin: 0px !important;

                            & .zen-current-workspace-indicator-chevron {
                                position: relative !important;
                                display: flex !important;
                                opacity: 1.0 !important;
                            }
                        }
                        
                        &::before {
                            background: color-mix(in srgb, var(--Neo-Glow-Color-3) 90%, transparent) !important;
                            box-shadow: 0px 0px 8px color-mix(in srgb, var(--Neo-Glow-Color-3) 90%, transparent) !important;
                            filter: drop-shadow(0px 0px 10px var(--zen-primary-color)) brightness(1.1) !important;

                            position: absolute !important;
                            border-radius: 20px !important;
                            align-self: center !important;
                            
                            left: auto !important;
                            right: auto !important;
                            height: 3px !important;
                            top: auto !important;
                            bottom: 2% !important;
                            width: 0% !important;
                        }
                    }
                    
                }
                &:not([animating-background="true"]) zen-workspace {
                    &[active] {
                        & .zen-current-workspace-indicator {
                            &::before {
                                width: 45% !important;
                                transition: width 0.6s ease, opacity 0.5s ease !important;
                            }
                            
                            &:hover {
                                &::before {
                                    width: 80% !important;
                                    transition: width 0.3s ease !important;
                                }
                            }
                        }
                    }
                }

                &:not([zen-sidebar-expanded="true"]) zen-workspace {
                    & .zen-current-workspace-indicator {}
                }
            }
        }
    }
}