@media not -moz-pref("neo.features.disable") {
    @media not -moz-pref("neo.features.search.disable") {
        @media not -moz-pref("neo.features.search.shade.disable") {
            :root:not([zen-has-empty-tab="true"])[zen-single-toolbar="true"] #urlbar:not([breakout-extend="true"]) {

                &:not([has-popup-open="true"]) {

                    #urlbar-input,
                    .urlbar-input-box {
                        min-width: 100% !important;
                        width: 100% !important;

                        transition: min-width 1s ease 0ms, width 1s ease 0ms !important;
                    }
                }

                & .identity-box-button,
                & .urlbar-page-action,
                & .unified-extensions-item,
                & #zen-copy-url-button {
                    opacity: 0 !important;
                    height: 100%;
                    visibility: collapse !important;
                    margin: 0 !important;
                    position: relative !important;

                    transition: opacity 0.8s ease 0ms, visibility 1s ease 0ms !important;
                }

                &:hover,
                &[has-popup-open="true"] {

                    #urlbar-input,
                    .urlbar-input-box {
                        width: 20% !important;
                        min-width: 20% !important;

                        transition: min-width 1s ease 200ms, width 1s ease 200ms !important;
                    }

                    .identity-box-button,
                    & .urlbar-page-action,
                    & .unified-extensions-item,
                    & #zen-copy-url-button {
                        opacity: 1 !important;
                        visibility: visible !important;

                        transition: opacity 0.8s ease 200ms, visibility 1s ease 200ms !important;
                    }
                }

                /* This restores the media buttons to the urlbar, I don't know why it got removed from the urlbar,
                 * the media controls are not always the best option when you have multiple media playing */
                & #picture-in-picture-button {
                    display: flex !important;
                    padding-right: 4px !important;

                    &[hidden] {
                        visibility: collapse !important;
                    }
                }
            }

            /* This hides all the elements in the urlbar when the tab is empty */
            :root[zen-has-empty-tab="true"] #urlbar:not([breakout-extend="true"]) {

                & .urlbar-page-action,
                & .unified-extensions-item,
                & #zen-copy-url-button {
                    display: block !important;
                    visibility: collapse !important;
                }
            }
        }
    }
}