@import "BetterSidebar-Background.css";
@import "BetterSidebar-Collapsed/Background-Alignment-Collapsed.css";
@import "BetterSidebar-Collapsed/Alignment-Collapsed.css";
@import "BetterSidebar-Expanded/Background-Alignment-Expanded.css";
@import "BetterSidebar-Expanded/Alignment-Expanded.css";

@media (-moz-pref("browser.tabs.allow_transparent_browser")) {
    /* Adjustments for compact sidebar expanded mode */
    :root[zen-sidebar-expanded="true"] body:has([zen-compact-mode="true"]) #titlebar{
        width: var(--Neo-Width-Compact-Expanded) !important;
        min-width: calc(var(--Neo-Width-Compact-Expanded)) !important;
    }
    /* Fix issue from nebula when sidebar is at the right side not taking the correct position due to the navigator-toolbox width */
    :root[zen-right-side="true"][zen-compact-mode="true"] #navigator-toolbox{
        width: var(--Neo-Width-Compact-Expanded) !important;
    }
}
:root:not([zen-sidebar-expanded="true"]){
  .zen-workspace-tabs-section {
    &:not(.zen-current-workspace-indicator):not(.zen-essentials-container) {
      padding: 0 calc(var(--zen-toolbox-padding) + 3px) !important;
      width: 100%;
    }
  }
}

#tabbrowser-tabs[orient="vertical"] {
  &:not([expanded]) {
    & .tab-background {
      width: calc(var(--tab-collapsed-background-width) - 9px) !important;
      height: 38.5px !important;
    }
  }
}
