@media (-moz-pref("zen.view.compact.hide-tabbar")) {
  /* Positioning for compact sidebar at the left */
  :root:not([zen-right-side="true"]) body:has([zen-compact-mode="true"]) #titlebar {
    left: calc(var(--zen-element-separation) / 1.5) !important;
    right: auto !important;
  }

  /* Positioning for compact sidebar at the right expanded mode*/
  :root[zen-right-side="true"][zen-sidebar-expanded="true"] body:has([zen-compact-mode="true"]) #titlebar {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 1.5) !important;
  }
  /* Positioning for compact sidebar at the right when collapsed mode*/
  :root[zen-right-side="true"]:not([zen-sidebar-expanded="true"]) body:has([zen-compact-mode="true"]) #titlebar {
    left: auto !important;
    right: calc(var(--zen-element-separation) / 0.8) !important;
  }
}

:root[zen-single-toolbar="true"] body:has([zen-compact-mode="true"]) #titlebar {
  height: calc(100% - (var(--zen-element-separation) * 1)) !important;
  margin-top: calc(var(--zen-element-separation) * 0.5) !important;
}

@media (-moz-pref("zen.view.compact.hide-toolbar")) {
  /* Height adjustment when toolbar is hidden */
  :root body:has([zen-compact-mode="true"]) #titlebar {
    height: calc(100% - (var(--zen-element-separation) * 1.8)) !important;
    margin-top: calc(var(--zen-element-separation) * 1.45) !important;
  }
}

@media not (-moz-pref("zen.view.compact.hide-toolbar")) {
  /* Height adjustment when toolbar is not hidden */
  :root:not([zen-single-toolbar="true"]) body:has([zen-compact-mode="true"]) #titlebar {
    height: calc(100% - (var(--zen-element-separation) * 2.5)) !important;
    margin-top: calc(var(--zen-element-separation) * 2) !important;
  }
}

/* Fix issue from nebula when sidebar is at the right side not taking the correct position due to the navigator-toolbox width */
:root[zen-right-side="true"][zen-compact-mode="true"] #navigator-toolbox{
    width: var(--Neo-Width-Compact-Expanded) !important;
}

/* Adjustments for compact sidebar expanded mode */
:root[zen-compact-mode="true"][zen-sidebar-expanded="true"] #sidebar {
    width: var(--Neo-Width-Compact-Expanded) !important;
    min-width: calc(var(--Neo-Width-Compact-Expanded) - 8px) !important;
}
/* Adjustments for compact sidebar expanded mode */
:root[zen-sidebar-expanded="true"] body:has([zen-compact-mode="true"]) #titlebar{
    width: var(--Neo-Width-Compact-Expanded) !important;
    min-width: calc(var(--Neo-Width-Compact-Expanded) - 8px) !important;
}