@import "Sidebar-Blur-Compact.css";
@import "Workspace/WorkspaceIndicator.css";
@import "Workspace/WorkspaceCreate.css";


/* Animations Smooth transition for all the sidebar */
.zen-essentials-container,
zen-workspace[active]:not([hidden]) {
    transition: height 0.3s cubic-bezier(0.175, 1.385, 0.62, 1), min-height 0.3s cubic-bezier(0.175, 1.385, 0.62, 1), max-height 0.3s cubic-bezier(0.175, 1.385, 0.62, 1), top 0.3s cubic-bezier(0.175, 1.385, 0.62, 1), margin 0.3s cubic-bezier(0.175, 1.385, 0.62, 1) !important;
    
}

#navigator-toolbox:not([zen-sidebar-expanded="true"]) {
  padding-bottom: calc(var(--zen-toolbox-padding) + 5px) !important;
}

#navigator-toolbox{
  border-top: transparent !important;
}

/*Fix for the elements "zen-foot", and "#urlbar" being displayed in create space mode*/

:root[zen-creating-workspace="true"]{
  #zen-sidebar-foot-buttons{
    display: none !important;
  }
  #urlbar{
    display: none !important;
  }
}