/* Adjustments for sidebar panel when compact mode is enabled, this is not requiered it just limit the width of the sidebar-panel
which is not related to the sidebar-tabbar 
:root[zen-compact-mode="true"][zen-sidebar-expanded="true"] #sidebar {
    width: var(--Neo-Width-Compact-Expanded) !important;
    min-width: calc(var(--Neo-Width-Compact-Expanded)) !important;
}*/

@media (-moz-pref("browser.tabs.allow_transparent_browser")) {
    /* Adjustments for compact sidebar expanded mode */
    :root[zen-sidebar-expanded="true"] body:has([zen-compact-mode="true"]) #titlebar{
        width: var(--Neo-Width-Compact-Expanded) !important;
        min-width: calc(var(--Neo-Width-Compact-Expanded)) !important;
    }
    /* Fix issue from nebula when sidebar is at the right side not taking the correct position due to the navigator-toolbox width */
    :root[zen-right-side="true"][zen-compact-mode="true"] #navigator-toolbox{
        width: var(--Neo-Width-Compact-Expanded) !important;
    }
}