/* -------------------------- COMPACT SIDEBAR -------------------------- */
@media (-moz-pref("zen.view.compact.hide-tabbar")) {
    :root body:has([zen-compact-mode="true"]){
        /* Fix for twilight acrylic */
        #navigator-toolbox:not([animate='true']) #titlebar {
            position: relative;
        }

        #navigator-toolbox:not([animate='true']) #titlebar::before {
            border: 0px solid transparent !important;
            outline: none !important;
            border-radius: calc(var(--Neo-Border-Radius) + 2px) !important;
            opacity: 1 !important;
            background: var(--Neo-Blur-Color) !important;
            content: '';
            position: absolute;
            pointer-events: none;
            z-index: -1;
        }

        #navigator-toolbox:not([animate='true']) #titlebar::after {
            border: 0px solid transparent !important;
            outline: none !important;
            border-radius: calc(var(--Neo-Border-Radius) + 2px) !important;
            content: '';
            position: absolute;
            background: var(--zen-main-browser-background) !important;
            opacity: var(--zen-background-opacity) !important;
            pointer-events: none;
            z-index: 0;
            
            mix-blend-mode: overlay;
        }
    }
}


/* Base blurred transparent background for compact sidebar */
@media (-moz-pref("zen.view.compact.hide-tabbar")) {
    body:has([zen-compact-mode="true"]) #titlebar {
        border: 0px solid transparent !important;
        outline: none !important;
        border-radius: calc(var(--Neo-Border-Radius) + 2px) !important;

        background: transparent !important;
        backdrop-filter: var(--Neo-Blur) !important;
    }
}