@media not (-moz-pref("neo-style-media-disabled")) {
    :root[zen-sidebar-expanded="true"] {

        #zen-media-controls-toolbar,
        #zen-media-controls-toolbar>toolbaritem {
            background: none !important;
            background-color: transparent !important;
            box-shadow: none !important;
            border: none !important;
            backdrop-filter: none !important;
            z-index: 9999 !important;
        }

        #zen-media-controls-toolbar>toolbaritem {
            background: var(--Neo-Black-1) !important;
            backdrop-filter: var(--Neo-Blur-Simple) !important;
            box-shadow: 0px 0px 5px var(--Neo-Shadow-Color-2) !important;
            border: none !important;
            border-radius: var(--Neo-Border-Radius) !important;
        }

        #zen-media-controls-toolbar {
            margin: 5px 4px !important;
            height: 38px !important;

            & #zen-media-progress-bar {
                &::-moz-range-progress {
                    box-shadow: 0 0px 5px color-mix(in srgb, var(--zen-primary-color) 100%, black) !important;
                }

                &::-moz-range-thumb {
                    box-shadow: 0 0px 5px color-mix(in srgb, var(--zen-primary-color) 100%, black) !important;
                }
            }
        }
    }
    
    :root:not([zen-sidebar-expanded="true"]) {
        
        #zen-media-controls-toolbar>toolbaritem {
            backdrop-filter: none !important;
            background: transparent !important;
            border: 1px solid transparent !important;
            box-shadow: 0 0px 0px transparent !important;
            border-radius: calc(var(--Neo-Border-Radius)) !important;
            transition: backdrop-filter 1s ease, background 1s ease, border 0.3s ease, box-shadow 0.3s ease, top 1s ease, bottom 1s ease !important;
        }

        #zen-media-controls-toolbar:hover>toolbaritem {
            backdrop-filter: none !important;
            background: color-mix(in srgb, var(--Neo-Glow-Color-1) 4%, #00000040) !important;
            border: 1px solid var(--Neo-Glow-Color-1) !important;
            box-shadow: 0 0px 5px var(--Neo-Glow-Color-1) !important;
            border-radius: calc(var(--Neo-Border-Radius)) !important;
            transition: backdrop-filter 1s ease, background 1s ease, border 0.3s ease, box-shadow 0.3s ease, top 1s ease, bottom 1s ease  !important;
        }
    }
}