@media not (-moz-pref("neo-features-bottom-disabled")) {
    :root[zen-sidebar-expanded="true"] {
        #zen-sidebar-foot-buttons {
            display: grid !important;

            grid-auto-rows: auto;
            /* Allows new rows when needed */
            grid-template-columns: repeat(4, 1fr) !important;
            gap: 6px !important;

            background: transparent !important;

            @media (-moz-bool-pref: "neo-features-bottom-keep-expanded") {
                height: fit-content !important;
                max-height: 115px !important;
            }
            @media not (-moz-bool-pref: "neo-features-bottom-keep-expanded") {
                max-height: 45px !important;
            }

            padding: 5px 5px 0px 5px !important;
            margin: 0px 0px 5px 0px !important;

            transition-delay: 0.4s !important;
            transition: max-height 0.5s cubic-bezier(0.175, 1.385, 0.62, 1);
        }
    }
}