@media not (-moz-pref("neo-theme-disabled")) {
    @media not (-moz-pref("neo-theme-tabs-disabled")) {
        @media not (-moz-pref("neo-theme-tabs-normals-disabled")) {
            .tabbrowser-tab {

                --tab-background: color-mix(in srgb, var(--Neo-Background) 40%, transparent 50%) !important;

                &[zen-essential] {
                    .tab-background {
                        background: var(--tab-background) !important;
                    }

                    &[visuallyselected] .tab-background {
                        &::before {
                            border-radius: var(--Roundness) !important;
                        }
                    }
                }

                &:not([pinned]):not([zen-essential]) {
                    padding: 4px 4px !important;
                }

                .tab-background {
                    border-radius: var(--Roundness) !important;
                    position: relative !important;
                    margin: 0px !important;

                    transition: background 0.5s ease !important;
                }

                &:hover .tab-background,
                &[selected] .tab-background {
                    background: var(--tab-background) !important;
                }
            }
        }
    }
}