@media not -moz-pref("neo.features.disable") {
    @media not -moz-pref("neo.features.sidebar.panel.disable") {

        #sidebar-main,
        #sidebar-box {

            --sidebar-background-color: var(--Neo-Compact-Background) !important;

            @media -moz-pref("neo.features.sidebar.panel.autohide.disabled") {
                --sidebar-background-color: transparent !important;
                box-shadow: none !important;
            }

            #sidebar-header {
                background: transparent !important;
                font-size: 1.333em;
                padding: 8px;
                border-bottom: 0px solid transparent !important;
            }
        }

        #sidebar-box {

            @media not -moz-pref("neo.features.sidebar.panel.autohide.disabled") {
                position: absolute !important;
                height: 20% !important;
                width: 30px !important;
                align-self: center !important;
                z-index: 9999 !important;
                left: 10px !important;

                min-width: 0px !important;
                backdrop-filter: var(--Neo-Blur-Effect) !important;

                border-radius: 50px !important;
                border: 2px solid rgba(255, 255, 255, 0.1) !important;

                transition: height 0.5s ease, width 0.5s ease, border-radius 0.5s ease !important;

                & * {
                    visibility: hidden !important;
                    opacity: 0 !important;

                    transition: opacity 0.5s ease, visibility 0.5s ease !important;
                }

                &:hover,
                &:has(#sidebar-switcher-target[aria-expanded="true"]) {
                    height: 95% !important;
                    width: 300px !important;
                    border-radius: var(--Roundness-Small) !important;

                    & * {
                        visibility: visible !important;
                        opacity: 1 !important;
                    }
                }
            }
        }

        .content-wrapper {
            background: transparent !important;

            &>input {
                background: transparent !important;
                outline: none !important;
                border: none !important;
            }
        }
    }
}