/* Bigger sidebar when collapsed */
#navigator-toolbox:not([zen-sidebar-expanded="true"]) {
  max-width: calc(var(--zen-toolbox-max-width) + 12px) !important;
  min-width: calc(var(--zen-toolbox-max-width) + 12px) !important;
  padding-bottom: var(--zen-toolbox-padding);
}

/* Adjust tabs width to the new width of the sidebar */
#tabbrowser-tabs[orient="vertical"] {
  &:not([expanded]) {
    & .tab-background {
      width: calc(var(--tab-collapsed-background-width) + 2px) !important;
    }
  }
}