@import "Nav-Bar-Compact.css";
@import "Nav-Bar-Compact-Background.css";

#zen-appcontent-navbar-container {
    & #nav-bar {
        padding-top: 2px !important;
        height: 50px !important;
        max-height: 50px !important;

        align-content: center !important;
    }
}