/* This file is used to override the default color scheme to fix the readability of some elements when the background opacity is set to the lowest value, 
and also fixing the issue with the gradient generator not respecting the color scheme that you select due to the forced automation of the color scheme 
when having a gradient or a color set*/
@media not -moz-pref("neo.features.disable") {
    @media not -moz-pref("neo.features.colorfixer.disable") {
        
        /* ---------------------Transition flashbang fixer for the browser background --------------------- */
        
        .zen-browser-generic-background {
            --zen-main-browser-background-old: var(--aux-background-color) !important;
            &::after {
                transition: background 2s ease, opacity 2s ease !important;
            }
        }
        .zen-browser-generic-background {
            &::before {
                --zen-main-browser-background: var(--aux-background-color) !important;
                display: none !important;
            }
        }
        
        /* --------------------- Automatic background color changer --------------------- */
        @media not -moz-pref("neo.features.colorfixer.background.fixed.enabled"){
            :root:not([zen-default-theme="true"]):not([animating-background="true"]) {
                @media not -moz-pref("zen.view.window.scheme", 2),
                @media -moz-pref("neo.features.colorfixer.force.allmodes") {
                    body:has(#PanelUI-zen-gradient-generator-opacity[style="--zen-thumb-height: 40px; --zen-thumb-width: 10px;"]) {
                        #zen-browser-background {
                            --zen-main-browser-background: var(--aux-background-color) !important;
                        }
                    }
                }
            }
            
            :root[animating-background="true"]{
                & #zen-browser-background {
                    --zen-main-browser-background-old: var(--aux-background-color) !important;
                    --zen-main-browser-background: var(--aux-background-color) !important;
                }
            }
        }


        /* This is used to change the background color of the browser to a fixed color when the option is enabled */
        @media -moz-pref("neo.features.colorfixer.background.fixed.enabled") {
            :root{
                & #zen-browser-background {
                    --zen-main-browser-background: var(--aux-background-color) !important;
                }
            }
        }
        /* --------------------- Light/Dark mode color scheme --------------------- */
        :root {
            --aux-background-color: var(--browser-bg-dark-color-windows) !important;

            @media (-moz-platform: linux) {
                --aux-background-color: var(--browser-bg-dark-color-linux) !important;
            }

            @media -moz-pref("zen.view.window.scheme", 1) {
                --aux-background-color: var(--browser-bg-light-color-windows) !important;

                @media (-moz-platform: linux) {
                    --aux-background-color: var(--browser-bg-light-color-linux) !important;
                }
            }

            &[zen-default-theme="true"] {

                --zen-primary-color: var(--default-theme-color) !important;

                #zen-browser-background {
                    --zen-main-browser-background: var(--aux-background-color) !important;
                }
            }

            /* The color scheme will only apply when the mode is not set to automatic, this way we can choose between the 3 modes */
            * {
                @media -moz-pref("zen.view.window.scheme", 0) {
                    color-scheme: dark !important;
                }

                @media -moz-pref("zen.view.window.scheme", 1) {
                    color-scheme: light !important;
                }
            }
        }

        /* This change the color of the text in the browser to the color declared in the variable
         * --Neo-Elements*/
        :root[zen-sidebar-expanded="true"] * {
            color: var(--Neo-Elements) !important;
        }

        :root:not([zen-sidebar-expanded="true"]) *:not(.tab-group-label) {
            color: var(--Neo-Elements) !important;
        }
    }
}