/* This file is used to override the default color scheme to fix the readability of some elements when the background opacity is set to the lowest value, 
and also fixing the issue with the gradient generator not respecting the color scheme that you select due to the forced automation of the color scheme 
when having a gradient or a color set*/

:root:not([zen-default-theme="true"]) {
    /* Neo Zen: Now the background color of the browser will be set to the color declared in the variable --aux-background-color only
     * when the default theme is not true and the browser mode is not set to automatic, this way we can choose between the 3 modes
     * than the change will only be applied if the opacity of the gradient generator is set to the lowest value,
     * this way we can have a better readability of the elements in the browser when the background is too transparent 
     
     * Using the rule to change only the background improves the performance of the browser, that's why Neo-ColorFixer will only apply
     * the change when we choose any other mode than automatic */
    @media not -moz-pref("zen.view.window.scheme", 2) {
        body:has(#PanelUI-zen-gradient-generator >#PanelUI-zen-gradient-generator-multiview >#PanelUI-zen-gradient-generator-view >#PanelUI-zen-gradient-generator-controls >#PanelUI-zen-gradient-colors-wrapper >#PanelUI-zen-gradient-opacity-wrapper >#PanelUI-zen-gradient-generator-opacity[style="--zen-thumb-height: 40px; --zen-thumb-width: 10px;"]) {
            #zen-browser-background {
                --zen-main-browser-background: var(--aux-background-color) !important;
            }
        }
    }
}

:root {
    --aux-background-color: rgba(0, 0, 0, 0.4) !important;

    @media (-moz-platform: linux) {
        --aux-background-color: rgba(10, 10, 10, 0.65) !important;
    }

    @media -moz-pref("zen.view.window.scheme", 1) {
        --aux-background-color: rgba(255, 255, 255, 0.0) !important;

        @media (-moz-platform: linux) {
            --aux-background-color: rgba(255, 255, 255, 0.5) !important;
        }
    }

    &[zen-default-theme="true"] {
        
        --zen-primary-color: rgb(255, 190, 120) !important;
        
        #zen-browser-background {
            --zen-main-browser-background: var(--aux-background-color) !important;
        }
    }
    /* Neo Zen: In the previous version of Neo-ColorFixer, the I was using the color change with variables to change the color of the elements,
     * but this way the color can be changed using the color scheme in the entire browser and at the same time the performance improves a little bit.
     
     * The color scheme will only apply when the mode is not set to automatic, this way we can choose between the 3 modes */
    * {
        @media -moz-pref("zen.view.window.scheme", 0) {
            color-scheme: dark !important;
        }

        @media -moz-pref("zen.view.window.scheme", 1) {
            color-scheme: light !important;
        }
    }
}

/* This change the color of the text in the browser to the color declared in the variable
 --Neo-Elements*/
:root[zen-sidebar-expanded="true"] * {
    color: var(--Neo-Elements) !important;
}
:root:not([zen-sidebar-expanded="true"]) *:not(.tab-group-label) {
    color: var(--Neo-Elements) !important;
}