:root{
    @media -moz-pref("zen.view.window.scheme", 0) or -moz-pref("zen.view.window.scheme", 2) {
        --Neo-Browser-Background: #00000080 !important;

        @media -moz-pref("zen.widget.linux.transparency", true) {
            --Neo-Browser-Background: #00000090 !important;
        }

        &:not([zen-default-theme="true"]){
            --Neo-Elements-Aux: White !important;
            --Neo-Background-Aux: black !important;
        }
    }
    
    @media -moz-pref("zen.view.window.scheme", 1) {
        --Neo-Browser-Background: transparent !important;

        @media -moz-pref("zen.widget.linux.transparency", true) {
            --Neo-Browser-Background: #ffffff80 !important;
        }

        &:not([zen-default-theme="true"]){
            --Neo-Elements-Aux: black !important;
            --Neo-Background-Aux: #d0d0d0 !important;
        }
    }

    &[zen-default-theme="true"]{
        #zen-browser-background{
            --zen-main-browser-background: var(--Neo-Browser-Background) !important;
        }
    }
}

body:has(#PanelUI-zen-gradient-generator-view>#PanelUI-zen-gradient-generator-controls>#PanelUI-zen-gradient-colors-wrapper>#PanelUI-zen-gradient-opacity-wrapper>#PanelUI-zen-gradient-generator-opacity[style="--zen-thumb-height: 40px; --zen-thumb-width: 10px;"]) {
    #zen-browser-background{
        --zen-main-browser-background: var(--Neo-Browser-Background) !important;
    }

    --Neo-Elements: var(--Neo-Elements-Aux) !important;
    --Neo-Background: var(--Neo-Background-Aux) !important;
}

:root[zen-sidebar-expanded="true"] #zen-main-app-wrapper *:not(#urlbar){
    color: var(--Neo-Elements) !important;
}

:root:not([zen-sidebar-expanded="true"]) #zen-main-app-wrapper *:not(#urlbar):not(.tab-group-label){
    color: var(--Neo-Elements) !important;
}
