#navigator-toolbox{
    /* This modifies the background color of the urlbar and the new tab button */
    --toolbarbutton-hover-background: var(--Neo-BG-Color-Hover) !important;
    --toolbarbutton-active-background: var(--Neo-BG-Color-Selected) !important;
}
#navigator-toolbox[zen-sidebar-expanded="true"] {
    /* This modifies the border radius of all the elements in the sidebar */
    --border-radius-medium: var(--Roundness) !important;
}